table {
    border-width: 5px;
    border-spacing: 5px;
}

th, td{
    border-width: 2px;
    padding: 5px;
    
}

#break{
    padding-top: 10%;
    writing-mode: vertical-lr;
    text-orientation: upright;
}